<header class="bg-gray-500 text-white  shadow-md">
  <div class="navbar container mx-auto">
    <!-- アプリタイトル -->
    <head>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">

  <style>
    .custom-logo {
      font-family: 'Orbitron', sans-serif; /* 適用するフォント */
      font-size: 1.5rem; /* サイズ調整 */
      color: #2c3e50; /* テキストの色 */
      text-transform: uppercase; /* 全て大文字 */
      letter-spacing: 0.1em; /* 字間の調整 */
    }
  </style>
</head>
<body>
  <div class="flex-1">
    <%= link_to '/', class: 'btn btn-ghost normal-case custom-logo' do %>
      MINI4NOTE
    <% end %>
  </div>
</body>

    <!-- ユーザーネームとメニュー -->
    <div class="flex-none">
      <% if user_signed_in? %>
        <span class="mr-4"><%= current_user.name %></span>
        <div class="dropdown dropdown-end">
          <label tabindex="0" class="btn btn-ghost">
            メニュー
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </label>
          <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52 text-gray-700">
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            <li><%= link_to 'あなたのレース一覧', user_index_events_path %></li>
            <li><%= link_to '全員のレース一覧', events_path %></li>
          </ul>
        </div>
      <% else %>
        <div class="dropdown dropdown-end">
          <label tabindex="0" class="btn btn-ghost">
            メニュー
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </label>
          <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52 text-gray-700">
            <li><%= link_to 'ログイン', new_user_session_path %></li>
            <li><%= link_to '新規登録', new_user_registration_path %></li>
            <li><%= link_to '全員のレース一覧', events_path %></li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</header>
