<!-- イベント結果一覧 -->
<div class="overflow-x-auto">
  <table class="table w-full ">
    <thead class="sticky top-0 ">
      <tr>
      <th class="text-lg font-bold">Date</th>
      <th class="text-lg font-bold">大会名</th>
      <th class="text-lg font-bold">会場名</th>
      <th class="text-lg font-bold">Time[s]</th>
        <% unless local_assigns[:hide_user_name] %> <!-- 条件分岐でユーザー名の列を制御 -->
        <th class="text-lg font-bold">User</th>
        <% end %>
      </tr>
    </thead>
    <tbody class="bg-white">
      <% @events.each do |event| %>
        <tr>
          <!-- 日付 -->
          <td><%= event.date.strftime("%y/%m/%d") %></td>
            
          <!-- 大会名 -->
          <td><%= link_to event.event_name, event_path(event), class: "text-blue-500 underline" %></td>
            
          <!-- 会場名 -->
          <td><%= event.venue %></td>
            
          <!-- タイム -->
          <td>
            <% if event.race_times.present? %>
              <% event.race_times.each do |race_time| %>
                <div><%= number_with_precision(race_time.rap_time, precision: 2) %></div>
              <% end %>
            <% else %>
              <span class="text-gray-500">未登録</span>
            <% end %>
          </td>

          <!-- ユーザー名 -->
          <% unless local_assigns[:hide_user_name] %> <!-- 条件分岐でユーザー名を制御 -->
            <td><%= event.user.name %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

