<%= form_with(model: @event, local: true) do |f| %>
    <h2 class="text-2xl font-semibold mb-4">イベント情報</h2>
    
    <!-- イベントの日付、名前、会場、天気、気温、コメント -->
    <div class="form-control mb-4">
      <%= f.label :date, "日付", class: "label-text" %>
      <%= f.date_field :date, required: true, class: "input input-bordered" %>
    </div>
    
    <div class="form-control mb-4">
      <%= f.label :event_name, "大会・イベント名", class: "label-text" %>
      <%= f.text_field :event_name, required: true, class: "input input-bordered" %>
    </div>
    
    <div class="form-control mb-4">
      <%= f.label :venue, "会場・店舗名", class: "label-text" %>
      <%= f.text_field :venue, required: true, class: "input input-bordered" %>
    </div>

    <div class="form-control mb-4">
      <%= f.label :link, "会場、イベントリンク (任意,複数のリンクはカンマで区切って入力してください)" %>
      <%= f.text_area :link, class: "textarea textarea-bordered w-full", placeholder: "例: https://example.com, https://another.com" %>
    </div>

    
    <div class="form-control mb-4">
      <%= f.label :weather, "天気", class: "label-text" %>
      <%= f.text_field :weather, class: "input input-bordered" %>
    </div>
    
    <div class="form-control mb-4">
      <%= f.label :temperature, "会場温度", class: "label-text" %>
      <%= f.number_field :temperature, step: 0.1, class: "input input-bordered" %>
    </div>
    
    <div class="form-control mb-4">
      <%= f.label :coment, "コメント", class: "label-text" %>
      <%= f.text_area :coment, class: "textarea textarea-bordered" %>
    </div>
    
    <h3 class="text-xl font-semibold mt-6 mb-4">ラップタイム</h3>
    <%= f.fields_for :race_times do |rt| %>
      <div class="form-control mb-4">
        <%= rt.label :rap_time, "ラップタイム", class: "label-text" %>
        <%= rt.number_field :rap_time, step: 0.001, class: "input input-bordered" %>
      </div>
      <div class="form-control mb-4">
        <%= rt.label :course_length, "コース全長", class: "label-text" %>
        <%= rt.number_field :course_length, step: 0.001, class: "input input-bordered" %>
      </div>
    <% end %>

    <h3 class="text-xl font-semibold mt-6 mb-4">コース写真</h3>
    <%= f.fields_for :course_photos do |photo| %>
      <div class="form-control mb-4">
        <%= photo.label :image_url, "コース写真", class: "label-text" %>
        <%= photo.file_field :image_url, class: "file-input file-input-bordered" %>
    
        <% if photo.object.persisted? %>
          <div class="mt-2">
            <%= image_tag photo.object.image_url.url, class: "rounded shadow-lg", width: 100 %>
            <label class="label cursor-pointer">
              <%= photo.check_box :_destroy %>
              <span class="label-text ml-2">この写真を削除</span>
            </label>
          </div>
        <% end %>
      </div>
    <% end %>

    <!-- 空の関連オブジェクトを追加 -->
    <div class="form-control mb-4">
      <%= f.fields_for :course_photos, @event.course_photos.build do |new_photo| %>
        <%= new_photo.label :image_url, "新しいコース写真を追加", class: "label-text" %>
        <%= new_photo.file_field :image_url, class: "file-input file-input-bordered" %>
      <% end %>
    </div> 

    
    <h3 class="text-xl font-semibold mt-6 mb-4">マシン情報</h3>
    <%= f.fields_for :machines do |machine| %>
      <div class="form-control mb-4">
        <%= machine.label :machine_name, "マシン名", class: "label-text" %>
        <%= machine.text_field :machine_name, class: "input input-bordered" %>
      </div>

      <h3 class="text-xl font-semibold mt-6 mb-4">マシン写真</h3>
      <%= machine.fields_for :machine_photos do |photo_form| %>
        <div class="form-control mb-4">
          <%= photo_form.label :image_url, "マシン写真", class: "label-text" %>
          <%= photo_form.file_field :image_url, class: "file-input file-input-bordered" %>
    
          <% if photo_form.object.persisted? %>
            <div class="mt-2">
              <%= image_tag photo_form.object.image_url.url, class: "rounded shadow-lg", width: 100 %>
              <label class="label cursor-pointer">
                <%= photo_form.check_box :_destroy %>
                <span class="label-text ml-2">この写真を削除</span>
              </label>
            </div>
          <% end %>
        </div>
      <% end %>

      <!-- 空の関連オブジェクトを追加 -->
      <div class="form-control mb-4">
        <%= machine.fields_for :machine_photos, machine.object.machine_photos.build do |new_photo_form| %>
          <%= new_photo_form.label :image_url, "新しいマシン写真を追加", class: "label-text" %>
          <%= new_photo_form.file_field :image_url, class: "file-input file-input-bordered" %>
        <% end %>
      </div> 


    
      <div class="form-control mb-4">
        <%= machine.label :motor, "モーター", class: "label-text" %>
        <%= machine.select :motor, Machine.motors.keys.map { |key| [I18n.t("activerecord.attributes.machine.motor.#{key}"), key] }, {}, class: "input input-bordered" %>
      </div>
    
      <div class="form-control mb-4">
        <%= machine.label :gear_ratio, "ギア比", class: "label-text" %>
        <%= machine.select :gear_ratio, Machine.gear_ratios.keys.map { |key| [I18n.t("activerecord.attributes.machine.gear_ratio.#{key}"), key] }, {}, class: "input input-bordered" %>
      </div>
    
      <div class="form-control mb-4">
        <%= machine.label :frame, "シャーシ", class: "label-text" %>
        <%= machine.select :frame, Machine.frames.keys.map { |key| [I18n.t("activerecord.attributes.machine.frame.#{key}"), key] }, {}, class: "input input-bordered" %>
      </div>
  
      <div class="form-control mb-4">
        <%= machine.label :tire_diameter, "タイヤ径", class: "label-text" %>
        <%= machine.number_field :tire_diameter, step: 0.001, class: "input input-bordered" %>
      </div>
    
      <div class="form-control mb-4">
        <%= machine.label :tire_type, "タイヤ種", class: "label-text" %>
        <%= machine.text_field :tire_type, class: "input input-bordered" %>
      </div>

      <div class="form-control mb-4">
        <%= machine.label :voltage, "電圧 (V)", class: "label-text" %>
        <%= machine.number_field :voltage, step: 0.001, class: "input input-bordered" %>
      </div>

      <div class="form-control mb-4">
        <%= machine.label :speed, "時速 (km/s)", class: "label-text" %>
        <%= machine.number_field :speed, step: 0.001, class: "input input-bordered" %>
      </div>

      <div class="form-control mb-4">
        <%= machine.label :other_comments, "メモ", class: "label-text" %>
        <%= machine.text_area :other_comments, rows: 3, class: "textarea textarea-bordered" %>
      </div>

    <div class="form-control mb-4">
      <%= machine.label :body, "ボディ", class: "label-text" %>
      <%= machine.text_area :body, class: "input input-bordered" %>
    </div>

    <div class="form-control mb-4">
      <%= f.label :tag_list, "タグ（カンマ区切りで入力）" , class: "label-text"%>
      <%= f.text_field :tag_list, class: "input input-bordered" %>
    </div>
        
    <% end %>
    
    
    
    <%= f.submit "イベントを保存する", class: "btn btn-primary" %>
  <% end %>
  