<%= form_with(model: @event, local: true) do |f| %>
    <h2 class="text-2xl font-semibold mb-4">イベント情報</h2>
    
    <!-- イベントの日付、名前、会場、天気、気温、コメント -->
    <div class="form-control mb-4">
      <%= f.label :date, "大会・イベント日", class: "label-text" %>
      <%= f.date_field :date, required: true, class: "input input-bordered" %>
    </div>
  
    <div class="form-control mb-4">
      <%= f.label :event_name, "大会・イベント名", class: "label-text" %>
      <%= f.text_field :event_name, required: true, class: "input input-bordered" %>
    </div>
  
    <div class="form-control mb-4">
      <%= f.label :venue, "会場", class: "label-text" %>
      <%= f.text_field :venue, required: true, class: "input input-bordered" %>
    </div>
  
    <div class="form-control mb-4">
      <%= f.label :weather, "天気", class: "label-text" %>
      <%= f.text_field :weather, class: "input input-bordered" %>
    </div>
  
    <div class="form-control mb-4">
      <%= f.label :temperature, "気温", class: "label-text" %>
      <%= f.number_field :temperature, step: 0.1, class: "input input-bordered" %>
    </div>
    
    <!-- レースタイム -->
    <div class="nested-fields mb-6">
      <%= f.fields_for :race_times do |rt| %>
        <div class="form-control mb-4">
          <%= rt.label :rap_time, "ラップタイム", class: "label-text" %>
          <%= rt.number_field :rap_time, step: 0.001, required: true, class: "input input-bordered" %>
        </div>
  
        <%= link_to "削除", "#", class: "remove-fields btn btn-danger" %>
      <% end %>
    </div>
  
    <!-- モーターとギア比シャーシ、タイヤ径タイヤ種はタイムの下 -->
    <h3 class="text-xl font-semibold mt-6 mb-4">マシン情報</h3>
  
    <div class="nested-fields mb-6">
      <%= f.fields_for :machines do |machine| %>
        <div class="form-control mb-4">
          <%= machine.label :name, "マシン名", class: "label-text" %>
          <%= machine.text_field :name, required: true, class: "input input-bordered" %>
        </div>
  
        <div class="form-control mb-4">
          <%= machine.label :chassis, "シャーシ", class: "label-text" %>
          <%= machine.text_field :chassis, class: "input input-bordered" %>
        </div>
  
        <!-- モーター、ギア比、タイヤ径、タイヤ種の入力 -->
        <div class="form-control mb-4">
          <%= machine.label :motor, "モーター", class: "label-text" %>
          <%= machine.text_field :motor, class: "input input-bordered" %>
        </div>
  
        <div class="form-control mb-4">
          <%= machine.label :gear_ratio, "ギア比", class: "label-text" %>
          <%= machine.number_field :gear_ratio, step: 0.01, class: "input input-bordered" %>
        </div>
  
        <div class="form-control mb-4">
          <%= machine.label :tire_diameter, "タイヤ径", class: "label-text" %>
          <%= machine.number_field :tire_diameter, step: 0.1, class: "input input-bordered" %>
        </div>
  
        <div class="form-control mb-4">
          <%= machine.label :tire_type, "タイヤ種", class: "label-text" %>
          <%= machine.text_field :tire_type, class: "input input-bordered" %>
        </div>

    <div class="form-control mb-4">
      <%= f.label :coment, "コメント", class: "label-text" %>
      <%= f.text_area :coment, class: "textarea textarea-bordered" %>
    </div>
  
        <!-- ギミック情報 -->
        <div class="form-control mb-4">
          <%= machine.fields_for :gimmicks do |gimmick| %>
            <%= gimmick.label :gimmick_type, "ギミックタイプ", class: "label-text" %>
            <%= gimmick.text_field :gimmick_type, class: "input input-bordered" %>
            
            <!-- ローラーの詳細 -->
            <div class="form-control mb-4">
              <%= gimmick.fields_for :rollers do |roller| %>
                <%= roller.label :position, "位置", class: "label-text" %>
                <%= roller.text_field :position, class: "input input-bordered" %>
  
                <%= roller.label :material, "素材", class: "label-text" %>
                <%= roller.text_field :material, class: "input input-bordered" %>
              <% end %>
            </div>
          <% end %>
        </div>
  
        <!-- ブレーキ情報 -->
        <div class="form-control mb-4">
          <%= machine.fields_for :brakes do |brake| %>
            <%= brake.label :name, "ブレーキ名", class: "label-text" %>
            <%= brake.text_field :name, class: "input input-bordered" %>
  
            <%= brake.label :color, "色", class: "label-text" %>
            <%= brake.text_field :color, class: "input input-bordered" %>
          <% end %>
        </div>
  
        <!-- ダンパー情報 -->
        <div class="form-control mb-4">
          <%= machine.fields_for :mass_dampers do |damper| %>
            <%= damper.label :name, "ダンパー名", class: "label-text" %>
            <%= damper.text_field :name, class: "input input-bordered" %>
          <% end %>
        </div>
  
        <!-- マシン写真 -->
        <div class="form-control mb-4">
          <%= machine.fields_for :machine_photos do |photo| %>
            <%= photo.label :image, "マシン写真", class: "label-text" %>
            <%= photo.file_field :image, class: "file-input file-input-bordered" %>
          <% end %>
        </div>
      <% end %>
    </div>
  
    <h3 class="text-xl font-semibold mt-6 mb-4">コース写真</h3>
  
    <!-- コース写真 -->
    <div class="nested-fields mb-6">
      <%= f.fields_for :course_photos do |photo| %>
        <%= photo.label :image, "コース写真", class: "label-text" %>
        <%= photo.file_field :image, class: "file-input file-input-bordered" %>
      <% end %>
    </div>
  
    <%= f.submit "イベントを保存する", class: "btn btn-primary" %>
  <% end %>
  