<!-- app/views/events/show.html.erb -->
<h1 class="text-3xl font-bold mb-4"><%= @event.event_name %></h1>

<div class="mb-6">
  <p>Date: <%= @event.date %></p>
  <p>天気: <%= @event.weather %></p>
  <p>気温: <%= @event.temperature %>℃</p>
  <p>会場: <%= @event.venue %></p>
  <p>コメント: <%= @event.coment %></p>
</div>

<h2 class="text-2xl font-semibold mb-4">ラップタイム</h2>
<ul>
  <% @event.race_times.each do |time| %>
    <li>ラップタイム: <%= time.rap_time.round(2) %> s</li>
    <li>コース全長: <%= time.course_length.round(2) %> m</li>
  <% end %>
</ul>

<h2 class="text-2xl font-semibold mt-6 mb-4">マシン情報</h2>
<% @event.machines.each do |machine| %>
  <div class="mb-6 border p-4 rounded-lg">
    <h3 class="text-xl font-semibold">マシン名: <%= machine.machine_name %></h3>
    <p>モーター: <%= I18n.t("activerecord.attributes.machine.motor.#{machine.motor}") %></p>
    <p>ギア比: <%= I18n.t("activerecord.attributes.machine.gear_ratio.#{machine.gear_ratio}") %></p>
    <p>ボディ: <%= machine.body %></p>
    <p>シャーシ: <%= I18n.t("activerecord.attributes.machine.frame.#{machine.frame}") %></p>
    <p>タイヤ径: <%= machine.tire_diameter %> mm</p>
    <p>タイヤ種: <%= machine.tire_type %></p>
    <p>電圧: <%= machine.voltage.present? ? format('%.2f', machine.voltage) : '未登録' %> V</p>
    <p>時速: <%= machine.speed %> km/h</p>
    <p>メモ: <%= machine.other_comments %></p>

  </div>
<% end %>

<% if @event.user == current_user %>
  <%= link_to '編集', edit_event_path(@event), class: 'btn btn-primary' %>
  <%= link_to '削除', event_path(@event), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
<% end %>
<%= link_to "戻る", events_path, class: "btn btn-outline mt-6" %>
