<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'favicon.ico' %>
    <title>Mini 4WD race Manament App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="bg-gray-100 font-sans text-gray-900">
    <!-- ヘッダー -->
    <%= render 'shared/header' %>

    <!-- メインコンテンツ -->
    <main class="container mx-auto py-6">
      <!-- タイトル -->
      <h1 class="text-center text-3xl font-bold my-4">Mini 4WD Race Management App</h1>

      <!-- フラッシュメッセージ -->
      <div class="flash-messages mx-auto max-w-screen-md my-4">
        <% if notice.present? %>
          <div class="alert alert-success">
            <p><%= notice %></p>
          </div>
        <% end %>
        <% if alert.present? %>
          <div class="alert alert-error">
            <p><%= alert %></p>
          </div>
        <% end %>
      </div>

      <%= yield %>
    </main>

    <!-- フッター -->
    <%= render 'shared/footer' %>
  </body>
</html>
